@font-face {
    font-family: early-bird;
    src: url('fonts/Early_Bird.otf');
}
#lndg-pg{
    height: 100vh;
    color: white;
    background-image: url('../images/landing-bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 50vh;
    background-position:center;
}
#lndg-pg .row{
    margin-right: 0px;
}
#head-lpg{
    text-align: center;
    font-family: early-bird;
    font-size: 5em;
    letter-spacing: 16pt;
    margin-left: 1.15%;
}
#sheemar{
    letter-spacing: 23pt;
}
#title-footer-1{
    text-transform: uppercase;
    letter-spacing: .9pt;
    text-align: center;
    font-family: "raleway",sans-serif;
font-style: normal;
font-weight: 400;
}
#title-footer-2{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1pt;
    font-family: "raleway",sans-serif;
font-style: normal;
font-weight: 400;
    font-size: 8pt;
    padding-top: 1.12%;
}
#scroll-lndg-pg{
    text-align: center;
    font-size: 14pt;
    padding-top: 3%;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	margin-bottom: 4px;
    padding-bottom: 3pt;
}

.arrows path {
	stroke: #ffffff;
	fill: transparent;
	stroke-width: 1px;	
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

@-webkit-keyframes arrow /*Safari and Chrome*/
{
0% {opacity:0}
40% {opacity:1}
80% {opacity:0}
100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s; /* Safari 和 Chrome */
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s; /* Safari 和 Chrome */
}

.arrows path.a3 {	
	animation-delay:0s;
	-webkit-animation-delay:0s; /* Safari 和 Chrome */
}
